<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${discModel.artist}">Artist</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
<header>
    <img th:src="${discModel.imageUrl}"></img>
    <h1 th:text="${discModel.album}"></h1>
</header>

<main>
    <ul>
        <p><a href="/discs">Discography</a></p>
        <li th:text="${discModel.id}"></li>
    </ul>
    <h2 th:text="${discModel.album}"></h2>
</main>

<footer>
    <small>&copy Mark Sypniewski 2022</small>
</footer>
</body>
</html>